name: Release PR

on:
  workflow_dispatch:
    inputs:
      new-version:
        description: New version to release
        required: true
        type: choice
        options: [patch, minor, major]

jobs:
  get-node-version:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    outputs:
      version: ${{ steps.node-version.outputs.value }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Get Node.js version from package.json
        id: node-version
        shell: bash
        run: echo "value=$(jq -r '.engines.node' package.json)" >> "${GITHUB_OUTPUT}"

  release-pr:
    needs: get-node-version
    uses: stylelint/.github/.github/workflows/call-release-pr.yml@f34faf02df201c8c204df4ae2543523ad54ceb07 # 0.3.1
    with:
      new-version: ${{ github.event.inputs.new-version }}
      node-version: ${{ needs.get-node-version.outputs.version }}
    permissions:
      contents: write
      pull-requests: write
