name: Release PR

on:
  workflow_dispatch:
    inputs:
      new-version:
        description: New version to release
        required: true
        type: choice
        options: [patch, minor, major]

jobs:
  get-node-version:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    outputs:
      version: ${{ steps.node-version.outputs.value }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Get Node.js version from package.json
        id: node-version
        shell: bash
        run: echo "value=$(jq -r '.engines.node' package.json)" >> "${GITHUB_OUTPUT}"

  release-pr:
    needs: get-node-version
    uses: stylelint/.github/.github/workflows/call-release-pr.yml@2844df54744d5b95507c6df844b1422478dd3cc1 # 0.5.0
    with:
      new-version: ${{ github.event.inputs.new-version }}
      node-version: ${{ needs.get-node-version.outputs.version }}
    permissions:
      contents: write
      pull-requests: write
