name: Release

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  get-node-version:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    outputs:
      version: ${{ steps.node-version.outputs.value }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Get Node.js version from package.json
        id: node-version
        shell: bash
        run: echo "value=$(jq -r '.engines.node' package.json)" >> "${GITHUB_OUTPUT}"

  release:
    needs: get-node-version
    uses: stylelint/.github/.github/workflows/call-release.yml@f34faf02df201c8c204df4ae2543523ad54ceb07 # 0.3.1
    with:
      publish: false
      node-version: ${{ needs.get-node-version.outputs.version }}
    permissions:
      contents: write
      id-token: write
