name: Test

on:
  push:
    branches: ['main']
  pull_request:

jobs:
  get-node-version:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    outputs:
      version: ${{ steps.node-version.outputs.value }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Get Node.js version from package.json
        id: node-version
        shell: bash
        run: echo "value=$(jq -r '.engines.node' package.json)" >> "${GITHUB_OUTPUT}"

  lint:
    needs: get-node-version
    uses: stylelint/.github/.github/workflows/call-lint.yml@2844df54744d5b95507c6df844b1422478dd3cc1 # 0.5.0
    with:
      node-version: ${{ needs.get-node-version.outputs.version }}
    permissions:
      contents: read

  test:
    needs: get-node-version
    uses: stylelint/.github/.github/workflows/call-test.yml@f34faf02df201c8c204df4ae2543523ad54ceb07 # 0.3.1
    with:
      node-version: '["${{ needs.get-node-version.outputs.version}}"]'
    permissions:
      contents: read
